@charset "UTF-8";

/* Impostazione di base: stile per il body */

body {
    background-color: #f8f9fa;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* Intestazione "PianetaCalcio" */
/* classe "intestazione" */

.intestazione {
    background-color: #2c3e50;  /* Colore grigio scuro del template(colore di sfondo) */
    padding: 20px;	/* Spazio vuoto tra il contenuto e il bordo dell'elemento */
    text-align: center;
    border-bottom: 5px solid #27ae60; /* Riga verde prato */
}

/* classe "titolo-sito" */
.titolo-sito {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;	/* Peso del carattere */
    text-decoration: none;	/* Nessuna decorazione */
}


/* Contenitore principale */
/* Classe "contenitore-form" */
.contenitore-form {
    width: 40%; 	/* Larghezza */
    margin: 50px auto;	 /* Spazio vuoto esterno */
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #cccccc;
}

/* Classe "titolo-form" */
.titolo-form {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

















